<% unless current_user == user %>
  <% if current_user.following?(user) %>
    <div class="follower-btn">
      <%= form_with(model: @relationship, url: relationship_path(user), method: :delete, remote: true) do |f| %>
        <%= f.hidden_field :follow_id, value: user.id %>
        <%= button_tag '<i class="fas fa-user-check"><div class="follower-push">フォロー中</div></i>'.html_safe, :type => "submit", class: "btn btn--red" %>
      <% end %>
    </div>
  <% else %>
    <div class="follow-btn">
      <%= form_with(model: @set_relationship, url: relationships_path, remote: true) do |f| %>
        <%= f.hidden_field :follow_id, value: user.id %>
        <%= button_tag '<i class="fas fa-user-plus"><div class="follow-push">フォローする</div></i>'.html_safe, :type => "submit", class: "btn btn--blue" %>
      <% end %>
   <% end %>
<% end %>