<div class="edit">
<h1>プロフィール編集</h1>

<%= form_with(model: @user, local: true) do |f| %>

	<div class="field">
		<%= f.label :プロフィール画像 %>
		<%= f.attachment_field :profile_image %>
	</div>

	<div class="field">
		<%= f.label :名前又はニックネーム %>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :性別 %>
		<%= f.radio_button :gender, "MEN" %>MEN
		<%= f.radio_button :gender, "WOMEN" %>WOMEN
	</div>

	<div class="field">
		<%= f.label :自己紹介 %>
		<%= f.text_area :introduction %>
	</div>

	<div class="actions">
		<%= f.submit "変更する" %>
	</div>
<% end %>
</div>

