<div class="text">
<h1>ユーザー一覧</h1>
<!-- 検索バー -->
<div class="search">
	<%= form_with url: users_path, method: :get, local: true do |f| %>
	  <%= f.text_field :search, placeholder: "キーワード検索" %>
	  <%= button_tag '<i class="fas fa-search"></i>'.html_safe, :type => "submit" %>
	<% end %>
</div>
<!-- 検索バー -->
	<% @users.each do |user| %>
		<div class="user-index clearfix">
			<table>
				<div class="user-index-text">
					<tbody>
						<tr>
							<td class="user-index-image">
								<%= link_to user_path(user) do %>
									<%= attachment_image_tag(user, :profile_image, :fill, 150, 150, class: "img-circle") %>
								<% end %>
							</td>
							<td class="user-index-user-name">
								<strong> <%= user.name %> </strong>
							</td>
							<td class="user-index-user-gender">
								<%= user.gender %>
							</td>
							<td class="user-index-user-followers">
								<%= link_to user_followers_path(user) do %>
									<div class="followers"> フォロワー
										<%= user.followers.count %>
									</div>
								<%  end %>
							</td>
						    <td class="user-index-follow">
						      	<div id="relationships_buttons_<%= user.id %>">
								    <%= render partial: 'relationships/follow_button', locals: {user: user} %>
								</div>
						    </td>
						</tr>
					</tbody>
				</div>
			</table>
		</div>
	<% end %>
</div>