<h1>ユーザー一覧</h1>

<%= form_with url: users_path, method: :get, local: true do |f| %>
  <%= f.text_field :search %>
  <%= f.submit '検索', name: nil %>
<% end %>

<div class="table">
	<table>
		<div class="user-index-all">
		<% @users.each do |user| %>
			<tbody>
				<tr>
					<td class="user-index-image">
						<%= link_to user_path(user) do %>
							<%= attachment_image_tag(user, :profile_image, :fill, 150, 150, fallback: "no_image.jpg", class: "img-circle") %>
						<% end %>
					</td>
					<td class="user-index-user-name">
						<strong> <%= user.name %> </strong>
					</td>
					<td class="user-index-user-gender">
						<%= user.gender %>
					</td>
					<td class="user-index-user-followers">
						<%= link_to user_followers_path(user) do %>
							フォロワー
							<%= user.followers.count %>
						<%  end %>
					</td>
				      <div class="user-index-follow">
				      	<td id="relationships_buttons_<%= user.id %>">
						    <%= render partial: 'relationships/follow_button', locals: {user: user} %>
						</td>
				      </div>
				</tr>
			</tbody>
		<% end %>
		</div>
	</table>
</div>

