<body>
<h1>user#new</h1>

<%= form_with(model: @user, local: true) do |f| %>

	<!-- エラーメッセージ表示-->
	<%# if @user.errors.any? %>
		<!-- <div id="error_explanation">
			<h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
			<ul>
				<%# @user.errors.full_messages.each do |message| %>
				<li><%#= message %></li>
				<%# end %>
			</ul -->
		<!-- </div> -->
	<%# end %>
	 <!-- エラーメッセージ表示 -->

	<div class="field">
		<%= f.label :プロフィール画像 %>
		<%= f.attachment_field :profile_image, class: "user_image" %>
	</div>

	<div class="field">
		<%= f.label :名前又はニックネーム %>
		<%= f.text_field :name, class: "name" %>
	</div>

	<div class="field">
		<%= f.label :性別 %>
		<%= f.radio_button :gender, "MEN" %>MEN
		<%= f.radio_button :gender, "WOMEN" %>WOMEN
	</div>

	<div class="field">
		<%= f.label :自己紹介 %>
		<%= f.text_area :introduction, class: "introduction" %>
	</div>

	<div class="actions">
		<%= f.submit "新規登録" %>
	</div>

<% end %>

</body>
