<div class="text">
	<!-- ユーザー詳細 -->
	<div class="my-page ">
		<div class="plofile clearfix">
			<div class="user-image">
				<%= attachment_image_tag @user, :profile_image, :fill, 180, 180, fallback: "no_image.jpg", class: "img-circle" %>
			</div>
		<div class="plofile-text">
			<div class="user-introduction">
				<div class="name">
					<strong> <%= @user.name %> </strong>
				</div>
				<div class="gender">
					<%= @user.gender %>
				</div>
				<div class="introduction">
					<%= @user.introduction %>
				</div>
			</div>
			<div class="follow-text">
				<%= link_to user_followings_path(@user) do %>
					<div class="follow"> フォロー
						<%= @user.followings.count %>
					</div>
					<% end %>
				<%= link_to user_followers_path(@user) do %>
					<div class="followers"> フォロワー
						<%= @user.followers.count %>
					</div>
				<%  end %>
			</div>
		</div>

			<div class="follow-btn">
				<div id="relationships_buttons_<%= @user.id %>">
					<%= render partial: 'relationships/follow_button', locals: {user: @user} %>
				</div>
			</div>

			<% if @user == current_user %>
				<div class="user-post-profiel">
					<div class="plofile-btn clearfix">
						<%= link_to "プロフィール変更", edit_user_path, class: "btn btn--gray btn--cubic" %>
					</div>
					<div class="new-post">
						<%= link_to "投稿する", new_post_path, class: "btn btn--black btn--cubic" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<!-- ユーザー詳細 -->

	<!-- ユーザー投稿一覧 -->
	<div class="user-post-all">
		<h2 class="user-post-main">〜写真一覧〜</h2>
		<div class="user-post">
			<% @posts.each do |post| %>
			<div class="post-index-image">
				<div class="solid">
					<%= link_to post_path(post) do %>
						<%= attachment_image_tag(post, :post_image, :fill, 250, 300, fallback: "no_image.jpg", class: "img-rounded") %>
					<% end %>
					<div class="post-index-title">
						<%= link_to post_path(post) do %>
						<div class="post-title">
							<strong class="user-post-title"> <%= post.title %> </strong>
						</div>
						<% end %>
						<div class="post-time">
							<%= l post.created_at, format: :long %>
						</div>
						<div class="user-index-favorite">
							<div id="favorites_buttons_<%= post.id %>">
								<%= render partial: 'favorites/favorite', locals: {post: post} %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<!-- ユーザー投稿一覧 -->
	<!-- いいね一覧 -->
	<div class="user-post-all">
		<h2 class="user-post-main">〜いいね一覧〜</h2>
			<div class="user-post">
				<% @user.favorite_posts.each do |post| %>
					<div class="post-index-image">
							<div class="solid">
								<%= link_to post_path(post) do %>
									<%= attachment_image_tag(post, :post_image, :fill, 250, 300, fallback: "no_image.jpg", class: "img-rounded") %>
								<% end %>
								<div class="post-index-title">
									<%= link_to post_path(post) do %>
									<div class="post-title">
										<strong class="user-post-title"> <%= post.title %> </strong>
									</div>
									<% end %>
									<div class="post-time">
										<%= l post.created_at, format: :long %>
									</div>
									<div class="user-index-favorite">
										<div id="favorites_buttons_<%= post.id %>">
											<%= render partial: 'favorites/favorite', locals: {post: post} %>
										</div>
									</div>
								</div>
							</div>
						</div>
				<% end %>
			</div>
	</div>
	<!-- いいね一覧 -->
</div>