<div class="edit">
<h2>編集画面</h2>

<%= form_with(model: @post, local: true) do |f| %>
	<!-- エラー文 -->
	<% if @post.errors.any? %>
		<div id="error_explanation" class="alert alert-danger">
			<h3><%= I18n.t("errors.messages.not_saved",
	                 count: @post.errors.count,
	                 resource: @post.class.model_name.human.downcase) %>
	       </h3>
				<ul>
				<% @post.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
		</div>
	<% end %>
	<!-- エラー文 -->
	<div class="edit-text">
		<table class="edit-table">
			<tbody>
				<tr>
					<td class="field">
						<div class="edit-plofile">
							<%= f.label :写真 %>
						</div>
						<div class="edit-image">
							<%= f.attachment_field :post_image %>
						</div>
					</td>
				</tr>
				<tr>
					<td class="field">
						<div class="edit-plofile">
							<%= f.label :タイトル %>
						</div>
						<div class="edit-name">
							<%= f.text_field :title %>
						</div>
					</td>
				</tr>
				<tr>
					<td class="field">
						<div class="edit-plofile">
							<%= f.label :説明文 %>
						</div>
						<div class="edit-introduction">
							<%= f.text_area :body, :size=>"40" %>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
			<div class="edit-btn">
				<%= f.submit "投稿", class: "btn btn--black btn--cubic" %>
			</div>
	</div>
<% end %>
</div>

