<h2>投稿一覧</h2>

<%= form_with url: posts_path, method: :get, local: true do |f| %>
  <%= f.text_field :search %>
  <%= f.submit '検索', name: nil %>
<% end %>

	<div class="user-post">
		<% @posts.each do |post| %>
			<div class="post-index-image">
				<%= link_to post_path(post) do %>
					<%= attachment_image_tag(post, :post_image, :fill, 250, 350, fallback: "no_image.jpg", class: "img-rounded") %>
				<% end %>
				<div class="post-index-title">
					<%= link_to post_path(post) do %>
						<strong class="user-post-title"> <%= post.title %> </strong>
					<% end %>
						<div class="post-time">
							<%= l post.created_at, format: :long %>
						</div>
					<div class="user-index-favorite">
					<div id="favorites_buttons_<%= post.id %>">
						<%= render partial: 'favorites/favorite', locals: {post: post} %>
					</div>
					</div>
				</div>
				<div class="">
				<%= link_to user_path(post.user) do %>
					<%= attachment_image_tag(post.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg",  class: "img-circle") %>
				<% end %>
				<%= post.user.name %>
				</div>
			</div>
		<% end %>
	</div>
