<div class="text">
<h1>写真一覧</h1>
<!-- 検索バー -->
<div class="search">
	<%= form_with url: posts_path, method: :get, local: true do |f| %>
	  <%= f.text_field :search, placeholder: "キーワード検索" %>
	  <%= button_tag '<i class="fas fa-search"></i>'.html_safe, :type => "submit" %>
	<% end %>
</div>
<!-- 検索バー -->
	<div class="user-post">
		<% @posts.each do |post| %>
			<div class="post-index-image">
				<div class="solid">
					<%= link_to post_path(post) do %>
						<%= attachment_image_tag(post, :post_image, :fill, 250, 350, class: "img-rounded") %>
					<% end %>
					<div class="post-index-title">
						<%= link_to post_path(post) do %>
							<div class="post-title">
								<strong class="user-post-title"> <%= post.title %> </strong>
							</div>
						<% end %>
						<div class="post-solid">
							<%= link_to user_path(post.user) do %>
								<div class="post-user-image">
									<%= attachment_image_tag(post.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %>
								</div>
							<% end %>
							<div class="post-index-name">
								<strong> <%= post.user.name %> </strong>
							</div>
							<div class="post-index-favorite clearfix">
								<div id="favorites_buttons_<%= post.id %>">
									<%= render partial: 'favorites/favorite', locals: {post: post} %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>