<div class="edit">
<h2>投稿画面</h2>

<%= form_with(model: @post, local: true) do |f| %>
<% if @post.errors.any? %>
	<div id="error_explanation" class="alert alert-danger">
		<h3><%= I18n.t("errors.messages.not_saved",
                 count: @post.errors.count,
                 resource: @post.class.model_name.human.downcase) %>
         </h3>
			<ul>
			<% @post.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
	</div>
<% end %>

	<div class="field">
		<%= f.label :写真 %>
		<%= f.attachment_field :post_image, class: "book_title" %>
	</div>

	<div class="field">
		<%= f.label :タイトル %>
		<%= f.text_field :title, class: "book_title" %>
	</div>

	<div class="field">
		<%= f.label :説明文 %>
		<%= f.text_area :body, class: "book_body" %>
	</div>

	<div class="field">
		<%= f.submit "投稿", class: "btn btn-primary" %>
	</div>
<% end %>
</div>