<body>
<div class="row">
    <div class="col-xs-2">
    <h3>探す</h3>
    <div class="">
      <%= link_to "ユーザーを探す", users_search_path %>
    </div>
    <div class="">
      <%= link_to "投稿を探す", posts_search_path %>
    </div>
</div>
<div class="col-xs-9">
<h2>投稿検索</h2>

<%= form_with url: posts_search_path, method: :get, local: true do |f| %>
  <%= f.text_field :search %>
  <%= f.submit '検索', name: nil %>
<% end %>

<% @posts.each do |post| %>

	<%= link_to post_path(post) do %>
		<%= attachment_image_tag(post, :post_image, :fill, 250, 350, fallback: "no_image.jpg") %>
	<% end %>

	<%= link_to user_path(post.user) do %>
		<%= attachment_image_tag(post.user, :profile_image, :fill, 60, 60) %>
	<% end %>
	<%= post.user.name %>
<% end %>
</div>
</body>