<div class="text">
	<div class="post-show-user-profiel">
		<div class="post-show-user-image">
			<%= link_to user_path(@user) do %>
				<%= attachment_image_tag @user, :profile_image, :fill, 120, 120, fallback: "no_image.jpg",  class: "img-circle" %>
			<% end %>
		</div>
		<div class="clearfix">
				<div class="post-show-user-text">
					<%= link_to user_path(@user) do %>
						<strong class="post-show-user-name"> <%= @user.name %> </strong>
					<% end %>
					<%= @user.gender %>
				</div>
		</div>
	</div>

<div class="post-show-main clearfix">
	<div class="post-show-post-image">
		<%= attachment_image_tag @post, :post_image, :fill, 550, 750, fallback: "no_image.jpg", class: "img-rounded" %>
	</div>
	<div class="post-show-post-text">
		<div class="post-show-post-title">
		<strong>タイトル：</strong>
			<%= @post.title %>
		</div>
		<div class="post-show-post-body">
			<%= @post.body %>
		</div>
		<div class="post-show-favorites">
			<%= l @post.created_at, format: :long %>
				<div id="favorites_buttons_<%= @post.id %>">
					<%= render partial: 'favorites/favorite', locals: {post: @post} %>
				</div>
		</div>
	<div class="post-show-comment">
		コメント：
		<%= @post.post_comments.count %>
		件
	</div>
	</div>
		<div class="post-show-edit">
			<% if @user == current_user %>
				<%= link_to "編集", edit_post_path(@post) %>
				<%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
			<% end %>
		</div>
</div>

<div id="comment-<%= @post_comment.id %>">
	<%= render partial: 'post_comments/comments', locals: {comment: @comment} %>
</div>
	<% unless @user == current_user %>
		<%= form_with(model: [@post, @post_comment], remote: true) do |f| %>
			<div class="row">
				<div class="col-sm-8">
					<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
					<%= f.submit "送信", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
